
body{
    text-align: center;
    background-size: 100%;

}
h1{
    color: aliceblue;
    font-size: xx-large;
} 
.header{
    background-image: url(image/img/img/img1.jpg);
    background-size: 100%;
    line-height: 6;
}
.header2{
    background-image: url(image/img/img/image2.jpg);
    background-size: 100%;
    color: aliceblue;
}
