.intro{
    background-image: url("image/img/img/img1.jpg");
    padding: 10%;
    text-align: center;
    color: white;
}
.about-us{
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}
.Service{
    background-image: url("image/img/img/image2.jpg");
    padding: 4%;
    text-align: center;
    color:white;
    font-weight: bold;
}
.what-hidden{
    text-align: center;
    margin-top: 1.5%;
    padding-left: 4%;
}
.what-showing2{
    display: none;
}
.what-showing3{
    display: none;
}
.what-showing4{
    display: none;
}
#work04{
    display: none;
}
#work03{
    display: none;
}
#work02{
    display: none;
}
#work01{
    display: none;
}

#work05{
    display: none;
}
#work06{
    display: none;
}
#work07{
    display: none;
}
#work08{
    display: none;
}

.folio{
    text-align: center;
    margin-top: 1.8%;
}
.folios{
    margin-top: 1.5%;
    text-align: center;
}
.contacts{
    background-image: url("image/img/img/image3.jpg");
    color: white;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    text-align: center;
}
.transparent{
    padding: 2%;
    background-color: transparent;
    opacity: 0.5;
    margin-top: 1.5%;
    
}
.foot{
    text-align: center;


}
.contact {
    background-image: url("image/img/img/image3.jpg");
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 50px;
    color: white;
    padding-bottom: 300px;
    text-align: center;
  }
  .contact input  {
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 400px;
  }
  #messagehere {
    padding-bottom: 200px;
    width: 800px;
    height: 240px;
  }